body {
    background: #14213d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: monospace;
}

h1 {
    color: #fca311;
}

.projectbox {
    background: #1e315b;
    height: 700px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    padding-top: 70px;
}

.arrangement {
    display: flex;
    justify-content: space-around;
}

.textbox {
    background: #1e315b;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    padding: 30px;
    margin: 20px;
}

.box {
    background: #1e315b;
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: space-evenly;
}

.letter {
    background: white;
    margin: 10px;
}

.score {
    color: white;
    font-size: 1.5em;
    margin: 0.5em;
}

.button {
    background-color: #e5e5e5;
    padding: 0.5em; 
    border: white;
}

.buttons {
    margin: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#aboutme {
    font-size: 100px;
}

p {
    color: white;
    font-size: 20px;
}

#projects {
    font-size: 45px;
}

a {
    color: lightgray;
    font-size: 20px;
}